# Python Tutorial 1

## Operations and Expressions

#### Plus operation

In [ ]:
1 + 2

#### Multiply Operation

In [11]:
1 * 3

3

#### Devision Operation

In [13]:
1 / 2

0.5

In [14]:
1.0 / 2.0

0.5

#### Modulo Operation

In [15]:
1 % 2

1

#### Order of operations ( * before +)

In [17]:
2 + 3 * 5 + 5

22

In [18]:
(2 + 3) * (5 + 5)

50

## Variables

#### Declare and accessing a variable (no need to specify any type information)

In [19]:
my_variable = 2

In [20]:
my_variable

2

#### Expression with a variable

In [22]:
3 * my_variable

6

-----
## Data Types

### Strings

In [23]:
'stringin single quotes'

'stringin single quotes'

In [24]:
"string in double quotes"

'string in double quotes'

In [25]:
"String with an inline ' quote character"

"String with an inline ' quote character"

#### Using print to output a string to console

In [26]:
print ("a string on output")

a string on output

#### Print a variable

In [30]:
msg = "Hello World!"
print (msg)

Hello World!

#### Use Escape characters (i.e. newline)

In [29]:
msg = "Hello\nWorld!"
print (msg)

Hello
World!

#### String interpolation

In [31]:
"hello {}, python is {} to use".format("world!","fun")

'hello world!, python is fun to use'

### Boolean

In [42]:
True

True

In [34]:
False

False

#### true will not work!

In [37]:
true

NameError: name 'true' is not defined

### Lists

#### Creating a list of integers

In [38]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

#### Creating a list of strings

In [39]:
["Zurich","Berne","Geneva"]

['Zurich', 'Berne', 'Geneva']

#### Creating a list with mixed types

In [40]:
[1,2,"Berne"]

[1, 2, 'Berne']

#### Using append to add to the list

In [44]:
mylist = [1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

#### Accessing the list by position (zero-based)

In [46]:
mylist[0]

1

#### Changing an item in the list by position

In [47]:
mylist[0] = 2
mylist

[2, 2, 3, 4]

### Dictionaries

#### Creating a dictionary

In [48]:
mydict = {"key1":100, "key2":150}

#### Accessing dictionary

In [49]:
mydict["key1"]

100

#### Check if key is in dictionary

In [50]:
"key1" in mydict

True

### Tuples

#### Creating a Tuple

In [51]:
mytuple = (1,2,3,4)

#### Accessing a Tuple item

In [52]:
mytuple[0]

1

#### Cannot change an item, Tuple is immutable

In [54]:
mytuple[0] = 2

TypeError: 'tuple' object does not support item assignment

### Sets

#### Create a set (duplicates are removed)

In [56]:
{1,2,3,4,2,3,4}

{1, 2, 3, 4}

#### Ask for membership

In [57]:
1 in {1,2,3,4,2,3,4}

True

####Â Union of two sets

In [59]:
{1,2,3,4,2,3,4}.union({5,6,2})

{1, 2, 3, 4, 5, 6}

----
## Comparision Operators

In [61]:
1 == 1

True

In [62]:
1 < 2

True

In [63]:
1 <= 2

True

In [64]:
1 >= 2

False

#### Equality works on string as well

In [65]:
"a string" == "a string"

True

In [66]:
'a string' != 'another string'

True

#### Logical And Operator

In [68]:
(1 > 2) and (1 < 3)

False

#### Logical Or Operator

In [70]:
(1 > 2) or (1 < 3)

True